* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #111;
  color: #fff;
  line-height: 1.6;
}

/* NAV */
header {
  background: #000;
  padding: 15px 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f5c518;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
  ), url("https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h2 {
  font-size: 3rem;
}

.hero-content p {
  margin: 15px 0;
  color: #ccc;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #f5c518;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.dark {
  background: #000;
}

/* MUSIC */
.music-embed {
  max-width: 600px;
  margin: auto;
}

/* SOCIALS */
.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials a {
  color: #f5c518;
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #000;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

.credit {
  color: #777;
  margin-top: 5px;
}

.video-slider {
  display: flex;
  gap: 15px;
  padding: 15px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.video-card {
  min-width: 300px;
  scroll-snap-align: start;
}

.video-card iframe {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  border: none;
}